* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(255, 243, 243);
}

.container {
    margin: 300px auto;
    max-width: 700px;
    width: 100%;
}

form {
    margin-top: 20px;
}

input, textarea, button {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    resize: none;
}

button {
    background-color: blueviolet;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(125, 12, 201);
    color: rgb(241, 241, 241);
}

.success-message {
    font-size: 20px;
    background-color: rgb(68, 211, 63);
    padding: 17px;
    color: #fff;
    display: none;
}

.error-message {
    font-size: 13px;
    padding: 15px;
    background-color: brown;
    color: white;
    margin-bottom: 8px;
    display: none;
}

input.error {
    color: brown;
    border-color: brown;
    outline-color: brown;
}